/backend/target/classes/CSIT3214/GroupProject/Config/ApplicationConfig.class
/backend/target/classes/CSIT3214/GroupProject/Authentication/AuthenticationRequest$AuthenticationRequestBuilder.class
/backend/target/classes/CSIT3214/GroupProject/Authentication/AuthenticationRequest.class
/backend/target/classes/CSIT3214/GroupProject/Authentication/AuthenticationResponse$AuthenticationResponseBuilder.class
/backend/target/classes/CSIT3214/GroupProject/Authentication/AuthenticationResponse.class
/backend/target/classes/CSIT3214/GroupProject/Authentication/AuthenticationService.class
/backend/target/classes/CSIT3214/GroupProject/API/BaseController$UserIdAndRole.class
/backend/target/classes/CSIT3214/GroupProject/API/BaseController.class
/backend/target/classes/CSIT3214/GroupProject/DataAccessLayer/BaseUserRepository.class
/backend/target/classes/CSIT3214/GroupProject/DataAccessLayer/CustomUserDetails.class
/backend/target/classes/CSIT3214/GroupProject/Model/GeoCoding/GeocodingResponse.class
/backend/target/classes/CSIT3214/GroupProject/Model/GeoCoding/GeocodingResult.class
/backend/target/classes/CSIT3214/GroupProject/Service/GeocodingService.class
/backend/target/classes/CSIT3214/GroupProject/Model/GeoCoding/Geometry.class
/backend/target/classes/CSIT3214/GroupProject/Config/JwtAuthenticationFilter.class
/backend/target/classes/CSIT3214/GroupProject/Config/JwtService.class
/backend/target/classes/CSIT3214/GroupProject/Model/GeoCoding/LatLng.class
/backend/target/classes/CSIT3214/GroupProject/Authentication/RegisterRequest$RegisterRequestBuilder.class
/backend/target/classes/CSIT3214/GroupProject/Authentication/RegisterRequest.class
/backend/target/classes/CSIT3214/GroupProject/Model/Role.class
/backend/target/classes/CSIT3214/GroupProject/Config/SecurityConfig.class
/backend/target/classes/CSIT3214/GroupProject/Model/Suburb.class
/backend/target/classes/CSIT3214/GroupProject/DataAccessLayer/SuburbRepository.class
/backend/target/classes/CSIT3214/GroupProject/Service/SuburbService.class
/backend/target/classes/CSIT3214/GroupProject/TestUtils/TestDataGenerator.class
/backend/target/classes/CSIT3214/GroupProject/TestUtils/TestDataRunner.class
/backend/target/classes/CSIT3214/GroupProject/DataAccessLayer/UserDTO.class
